{% extends "layout.html" %}

{% block body %}
    {% if not clear %}
        {% for book in books %}
            <h2>{{ book.name }}</h2>
            <h3>{{ book.amount }}</h3>
            <form action="/remove", method="POST">
                <input name="name" value="{{ book.name }}" type="hidden">
                <input type="submit" value="remove">
            </form>
        {% endfor %}

        <h3><a href="/">Add more items</a></h3>
    {% else %}
        <h1>Nothing on cart! <a href="/">Go to Shop!</a></h1>
    {% endif %}    
{% endblock %}
